body {
  font-family: 'Work Sans', sans-serif;
  background-size: cover;
  background-position: bottom;  
}

body.empty {
  background-image: url('../img/empty-bg-desktop.jpg');
}

body.squirrel {
  background-image: url('../img/squirrel-bg-desktop.jpg');
}

@media(max-width: 768px) {
  body.empty,
  body.squirrel {
    background-image: url('../img/empty-bg-mobile.jpg');
  }
}
@media(max-width: 992px) {
  body.empty {
    background-image: url('../img/empty-bg-tablet.jpg');
  }
}

h1 img {
  margin: 0 auto;
  display: block;
  margin-top: 35px;
  margin-bottom: 40px;
  max-width: 60%;
}
@media (max-width: 349px) {
  h1 img {
    margin-bottom: 15px;
  }
}
@media (max-width: 349px) {
  h1 img.prizes {
    margin-bottom: 45px;
  }
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  pointer-events: none;
}

#loading {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 48%;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
}
@media (max-width: 349px) {
  #loading {
    font-size: 25px;
  }
}

.menu-text {
  margin: 0 auto 15px auto;
  width: 100%;
  max-width: 768px;
  color: #fff;
  text-align: center;
}
  .menu-text h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 35px;
  }

  .menu-text p {
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 45px;
  }
  @media (max-width: 349px) {
    .menu-text p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

.button-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
  .button-list {
    margin: 0 auto;
    max-width: 100%;
  }
    .button-list button {
      display: block;
      margin: 0 auto 30px auto;
      background-color: transparent;
      color: #fff;
      border-width: 0px;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 25px;
      width: 349px;
      max-width: 100%;
      height: 52px;
      background-image: url('../img/button-sprite.png');
      background-position: top;
    }
    .button-list button:hover {
      background-position: center -52px;
    }
    .button-list button.correct {
      background-position: center -104px ;
    }
    .button-list button.wrong {
      background-position: center bottom;
    }
    .button-list button.loading {
      animation: loading 500ms steps(2) 0s infinite;
    }

    @media (min-width: 350px) {
      @keyframes loading {
        from {background-position: center 0px;}
        to {background-position: center -104px;}
      }
    }
    @media (max-width: 349px) {
      .button-list button {
        margin-bottom: 20px;
        height: 43px;
        width: 290px;
        background-size: cover;
        font-size: 18px;
      }

      .button-list button:hover {
        background-position: center -43px;
      }
      .button-list button.correct {
        background-position: center -86px ;
      }
      .button-list button.wrong {
        background-position: center bottom;
      }

      @keyframes loading {
        from {background-position: center 0px;}
        to {background-position: center -86px;}
      }
    }

    lina-question .button-list button {
      font-size: 18px;
      text-transform: initial;
    }

    .button-list button:focus {
      outline: -webkit-focus-ring-color auto 0px;
    }

  #question {
    margin: 95px auto 15px auto;
    width: 100%;
    max-width: 768px;
  }
  @media (max-width: 767px) {
    #question {
      margin-top: 40px;
    }
  }
  #question .question-text {    
    max-width: 100%;    
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
  }

  @media (min-width: 798px) {
    #question .question-text {
      width: 768px;
      height: 103px;
      background-image: url('../img/question-bg.png');
    }
  }

lina-gameover-screen {
  text-align: center;
}
  lina-gameover-screen p {
    color: #fff;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .hra-skoncila {
    max-height: 130px;
  }

  #scores {
    margin-bottom: 30px;
  }
    #scores p {
      font-weight: 400;
      font-size: 35px;
      margin-bottom: 5px;
    }
    @media (max-width: 349px) {
      #scores p {
        font-size: 26px;
      }
    }

  lina-gameover-screen form input {
    border-width: 0px;
    width: 100%;
    padding: 10px;
    font-size: 21px;
    text-align: center;
    margin-bottom: 30px;
  }

lina-results-screen p {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

#results-list-holder {
  max-width: 100%;
  width: 430px;
  max-height: 340px;
  margin: 0 auto 30px auto;
  overflow-y: scroll;
}
  #results-list {
    width: 400px;
    margin: 0 auto;
    color: #fff;
  }
    #results-list li {
      font-weight: 300;
      font-size: 30px;
    }

lina-rules-screen p {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}

#rules-holder {
  max-height: 100%;
  height: 440px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

/*
lina-prizes-screen ul {
  list-style: none;
}

lina-prizes-screen li {
  color: #fff;
  font-size: 25px;
}
#prizes-holder {
  max-height: 100%;
  height: 380px;
  overflow-y: scroll;
  margin-bottom: 50px;
}
*/

#prizes-holder {
  color: #fff;
  font-size: 30px;
}
  #prizes-holder .row {
    margin-bottom: 2em;
  }
  #prizes-holder span {
    font-size: 2.25em;
    font-weight: 500;
  }
  #prizes-holder p {
    font-weight: 300;
  }
  #prizes-holder img {
    max-width: 100%;
    max-height: 160px;
    display: block;
    margin: 0 auto;
  }
  @media (max-width: 349px) {
    #prizes-holder {
      font-size: 15px;
    }
  }
  @media (max-width: 380px) {
    #prizes-holder {
      font-size: 20px;
    }
  }
