<h1>
  <img src="./img/hra-skoncila.png" alt="Hra skončila" class="hra-skoncila">
</h1>

<div *ngIf="isNewHighScore && howFinished == 'wrong' && isResultKnown">
  <p>Síce si neodpovedal správne, ale zvýšil si si skóre, gratulujeme!</p>    
</div>

<div *ngIf="!isNewHighScore && howFinished == 'wrong' && isResultKnown">
  <p>Škoda, odpovedal si nesprávne. Skús znova.</p>    
</div>

<div *ngIf="isNewHighScore && howFinished == 'timeup' && isResultKnown">
  <p>Síce si nestihol odpovedať, ale zvýšil si si skóre, gratulujeme!</p>    
</div>

<div *ngIf="howFinished == 'win'">
  <p>Odpovedal si na všetky otázky, gratulujeme!</p>    
</div>

<div *ngIf="!isNewHighScore && howFinished == 'timeup' && isResultKnown">
  <p>Škoda, nestihol si odpovedať. Skús znova.</p>
</div>

<div id="scores" *ngIf="currentHighScore != undefined && questionProgress != undefined">
  <p>Nahral si {{questionProgress}} {{currentProgressString}}.</p>
  <div *ngIf="currentHighScore >= questionProgress">
    <p>Tvoje najvyššie skóre {{[2,3,4].indexOf(currentHighScore) != -1 ? 'sú':'je'}} {{currentHighScore}} {{highScoreString}}.</p>
  </div>
  <div *ngIf="currentHighScore < questionProgress">
    <p>Prekonal si svoje skóre {{currentHighScore}} {{highScoreString}}.</p>
  </div>
</div>

<div class="button-list button-list-vertical">
  <button (click)="onNavigate('menu')">Späť na úvod</button>
</div>

<!--
<div *ngIf="!isAddCodeFormVisible && codeHelped">
  <p>Tvoj kód je platný a zvýšil ti skóre, gratulujeme!</p>
</div>

<div *ngIf="!isAddCodeFormVisible && !codeHelped">
  <p>Tvoj kód je platný, no nepomohol ti prekonať tvoje najvyššie skóre. Hraj znova.</p>
</div> 

<div *ngIf="!isCodeValid">
  <p>Ojoj. Tvoj kód už bol raz zadný. Skús iný.</p>
</div>

<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">

  <form
    [ngFormModel]="addCodeForm"
    *ngIf="isAddCodeFormVisible"
    (ngSubmit)="onAddCodeFormSubmit()">

    <input type="text" [(ngModel)]="code" [ngFormControl]="addCodeForm.find('code')" placeholder="číslo z bločku"><br>
    <input type="text" [(ngModel)]="date" [ngFormControl]="addCodeForm.find('date')" placeholder="Dátum nákupu">

    <div class="button-list button-list-vertical">
      <button type="submit" [disabled]="!addCodeForm.valid">Odoslať kód</button>
    </div>
  </form>
</div>
-->