<h1>
  <img src="./img/vysledky.png" alt="Výsledky" class="vysledky" width="601" height="127">
</h1>

<div id="results-list-holder">
  <ol id="results-list" *ngIf="users">
    <li *ngFor="let user of users">
      {{user.displayName}} - {{user.highScore}}
    </li>
  </ol>
</div>


<p>Nie si na čele tabuľky? Tak sa prekonaj a hraj znova!</p>

<div class="button-list small-text button-list-vertical">
  <button (click)="onNavigate('menu')">Späť na úvod</button>
</div>
