<h1>
  <img src="./img/nadupany-fanusik.png" alt="Nadupaný fanúšik" class="nadupany-fanusik">
</h1>

<div class="menu-text">
  <p>Vitaj v našej hre. Odpovedz správne na čo najviac za sebou idúcich otázok a vyhraj skvelé ceny!</p>
</div>

<div class="button-list small-text button-list-vertical">
  <button (click)="onNavigate('kviz')">Chcem hrať</button>
  <button (click)="onNavigate('vysledky')">Výsledky</button>
  <button (click)="onNavigate('vyhry')">Výhry</button>
  <button (click)="onNavigate('pravidla')">Pravidlá hry</button>
</div>
