<h1>
  <img src="./img/pravidla.png" alt="Výsledky" class="pravidla" height="65">
</h1>

<div class="row">
  <div class="col-xs-12 col-md-offset-3 col-md-6">
    <div id="rules-holder">
      <p>V našom kvíze Nadupaný fanúšik ťa čaká celkom 70 otázok. Za každú správne zodpovedanú otázku získaš 1 bod. Po nesprávnej odpovedi sa môžeš vrátiť na začiatok. Začni hrať odznova a pokús sa prekonať svoje doterajšie skóre.</p>

      <p>Odpovedz správne na čo najviac za sebou nasledujúcich otázok a vyhraj skvelé ceny. Držíme palce!</p>

      <p>Súťaž trvá 12 týždňov. Každý týždeň vyberieme jedného zo zapojených hráčov, ktorý nahral najvyšší počet bodov. Ten získa 1 kartón Lina oblátok.</p>

      <p>Ak sa stane, že má viac hráčov rovnaký počet bodov, prebehne medzi týmito hráčmi žrebovanie.</p>
      <p>Na konci súťaže prebehne žrebovanie zo všetkých zúčastnených hráčov o 44 cien.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="button-list small-text button-list-vertical col-xs-12">
    <button (click)="onNavigate('menu')">Späť na úvod</button>
  </div>
</div>
